<html lang="en">
  <head><%- include('../partials/head') %></head>
  <body>

    <div class="container">
      <header><%- include('../partials/header') %></header>

      <div class="card">
        <h5 class="card-header">
            Run Lighthouse
        </h5>
        <div class="card-body">
          <a href="https://github.com/godaddy/lighthouse4u#api---post-apiwebsite" target="_blank">Docs</a>
          <textarea id="lighthouseOptions" class="form-control" rows="6">
{
  "url": "https://www.google.com/",
  "group": "web",
  "wait": 60000,
  "samples": 1,
  "report": true,
  "headers": {}
}</textarea><br />

          <input id="useBatch" type="checkbox" onclick="toggleUseBatch()" /> <label for="useBatch">Use Batching</label> <input id="batchFile" type="file" style="display:none" /><br />

          <button id="submitWebsite" value="submit" onclick="onSubmitWebsite()" type="button" class="card-link">Submit</button>
                
        </div>
        
      </div>

      <div class="card" style="margin-top:25px">
        <h5 class="card-header">
            Website Info
        </h5>
        <div class="card-body">
          <form>
            <div class="form-group">
              <label>Query</label>
              <input id="queryByValue" class="form-control" placeholder="www.somedomain.name OR id:myDocumentId OR http://www.somedomain.com/some/path">
              <small class="form-text text-muted">Query by document (via `id:{myDocumentId}`), or URL, or partial URL.</small>
            </div>
            <div class="form-group">
              <label for="queryTop">Max Results</label>
              <input id="queryTop" class="form-control" value="10">
              <small class="form-text text-muted">No more than 1 result will be returned if querying by document ID.</small>
            </div>
          </form>

          <button id="getWebsite" value="get" onclick="onGetWebsite()" type="button" class="card-link">Get Website</button>
        </div>
        <div class="card-footer">
          <pre style="max-height:400px"><code id="websiteInfo"></code></pre>
        </div>
        <div class="card-footer">
          <a id="svgURL" target="_blank">SVG</a> <a id="jsonURL" target="_blank">JSON</a> <a id="reportURL" target="_blank">Lighthouse Report</a> <a id="reportJSONURL" target="_blank">Lighthouse JSON</a><br />
          <img id="websiteSVG" />
          <iframe id="websiteIFrame" style="width:100%; height:280px; display:none; border:none; overflow:hidden;" scrolling="no"></iframe>
        </div>
      </div>
      
      <footer><%- include('../partials/footer') %></footer>
    </div>    
  </body>
</html>